.leftLogin {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftLogin > h1 {
    font-size: 2.7vw;
    color: #faeeeb;
}

.leftLoginImage{
    width:27vw;
}

@media only screen and (max-width: 600px){

    .leftLogin > h1{
        display: none;
    }

    .leftLogin{
        width: 100%;
        height: auto;
    }

}